div.gameTile {
  width: 100px;
  height: 100px;
  border: 1px solid;
  background-color: lightgray;
  font-weight: bold;
  text-align: center;  
  cursor: pointer;
  &:hover {
    background-color: white;
  }

  span.contentText {
    margin: 0 auto;
    height: 20px;
    width: 20px;
  }
}